<!DOCTYPE html>
<html>
    <head>
        <title>Details page</title>
        
    </head>
    <body>
        <h1>Details of the Dataset</h1>
        <p>Housing Prices dataset provides detailed information about residential properties, including selling price, area size, bedrooms, bathrooms, and amenities like guestrooms, basements, and parking. It also includes infrastructure features such as main road connectivity, hot water heating, and air conditioning. Additionally, qualitative attributes like furnishing status and preference area are included. This dataset serves as a valuable resource for analyzing real estate pricing and buyer preferences.</p>
        <p>Here's a brief summary of the dataset:</p>
        <ul>  
            <li><strong>Price:</strong> The selling price of the property.</li>
            <li><strong>Area:</strong> The area of the property in square feet.</li>
            <li><strong>Bedrooms:</strong> The number of bedrooms in the property.</li> 
            <li><strong>Bathrooms:</strong> The number of bathrooms in the property.</li>  
            <li><strong>Stories:</strong> The number of stories in the property.</li>
            <li><strong>Mainroad:</strong> Whether the property is connected to the main road (yes/no).</li>
            <li><strong>Guestroom:</strong> Whether the property has a guestroom (yes/no).</li>
            <li><strong>Basement:</strong> Whether the property has a basement (yes/no).</li>
            <li><strong>Hotwaterheating:</strong> Whether the property has hot water heating (yes/no).</li>
            <li><strong>Airconditioning:</strong> Whether the property has air conditioning (yes/no).</li>
            <li><strong>Parking:</strong> The number of parking spaces available with the property.</li>
            <li><strong>Prefarea:</strong> Whether the property is in a preferred area (yes/no).</li>
            <li><strong>Furnishingstatus:</strong> The furnishing status of the property (furnished/semi-furnished/unfurnished).</li>
        </ul>
        <p>You can find more details from the link below</p>
        <p>Click here:<a href="https://www.kaggle.com/datasets/saurabhbadole/housing-price-data">https://www.kaggle.com/datasets/saurabhbadole/housing-price-data</a></p>
    </body>
</html>